
body{
    background-color: #22223B
    /* background-image: url('https://png.pngtree.com/background/20230612/original/pngtree-wolf-animals-images-wallpaper-for-pc-384x480-picture-image_3180467.jpg'); */



}
img{
    border-radius: 25% 25% 25% 25%;
}

p{
    font-family: ubuntu;
    font-size: 1rem;
    font-weight: bolder;
}


h2{
    font-family:ubuntu ;
    font-size: 32px;
    font-weight: bolder;
}

h1{
    font-family: ubuntu;
    font-size: 32px;
    font-weight: bolder ;
}

/* h1,h2,h3{
    line-height: 1.7rem;
    font-size: 24pt;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
} */
button{
    border-radius: 2rem;
    background-color: transparent;
    border: solid 2px rgb(13, 13, 13);
    font-weight: bold;
    padding: .7rem 2.3rem;
    transition: all .1s ease-out;

}
button:hover{
    background-color: rgb(18, 124, 217);
    color: rgb(242, 242, 242);
} 
/* no colocar el border dentro de hover */
.Jumbotron{
    text-align: center;
    padding: 40pt 0;
}
.Jumbotron h1{
    margin-bottom: 8pt;

}

.Jumbotron p{
    margin-bottom: 16pt;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #22223b7f;
    z-index: 1000;
    padding: 1em 30px;

    
}

.header .navbar .list {
    display: flex;
    gap: 1rem;
}
#background{
    background-image: linear-gradient(50deg, #22223B , #d9d9d973 );
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
img{
    width: 100%;
}

.header .navbar img{
    height: 24pt;
    width: auto;
}

section{
    padding: 12pt 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .list li {
    width: max-content;
}